gui:
  nerdFontsVersion: "3"
  theme:
    activeBorderColor:
      - "#89b4fa"
      - bold
    inactiveBorderColor:
      - "#a6adc8"
    optionsTextColor:
      - "#89b4fa"
    selectedLineBgColor:
      - "#313244"
    selectedRangeBgColor:
      - "#313244"
    cherryPickedCommitBgColor:
      - "#45475a"
    cherryPickedCommitFgColor:
      - "#89b4fa"
    unstagedChangesColor:
      - "#f38ba8"
    defaultFgColor:
      - "#cdd6f4"
    searchingActiveBorderColor:
      - "#f9e2af"
git:
  pagers:
    - colorArg: always
      pager: delta --dark --paging=never --line-numbers --hyperlinks --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"
os:
  edit: '[ -z "$NVIM" ] && (nvim -- {{filename}}) || (nvim --server $NVIM --remote-send ''<cmd>close<cr><cmd>lua EditFromLazygit({{filename}})<CR>'')'
  editAtLine: '[ -z "$NVIM" ] && (nvim +{{line}} -- {{filename}}) || nvim --server $NVIM --remote-send ''<cmd>close<CR><cmd>lua EditLineFromLazygit({{filename}},{{line}})<CR>'''
customCommands:
  - key: "<c-a>"
    context: "global"
    description: "AI commit message"
    command: "git commit -m \"{{.Form.CommitMsg}}\""
    loadingText: "Generating commit messages..."
    prompts:
      - type: "menu"
        title: "Commit type"
        key: "Type"
        options:
          - name: "AI defined"
            value: ""
          - name: "feat"
            value: "feat"
          - name: "fix"
            value: "fix"
          - name: "chore"
            value: "chore"
          - name: "refactor"
            value: "refactor"
          - name: "docs"
            value: "docs"
          - name: "test"
            value: "test"
      - type: "menuFromCommand"
        title: "Commit message"
        key: "CommitMsg"
        command: "lgaicm {{.Form.Type}}"
