gui:
  nerdFontsVersion: "3"
  theme:
    activeBorderColor:
      - "#a9b665"
      - bold
    inactiveBorderColor:
      - "#665c54"
    optionsTextColor:
      - "#7daea3"
    selectedLineBgColor:
      - "#3c3836"
    selectedRangeBgColor:
      - "#3c3836"
    cherryPickedCommitBgColor:
      - "#45403d"
    cherryPickedCommitFgColor:
      - "#a9b665"
    unstagedChangesColor:
      - "#ea6962"
    defaultFgColor:
      - "#d4be98"
    searchingActiveBorderColor:
      - "#d8a657"
git:
  skipHookPrefix: WIP
  pagers:
    - colorArg: always
      pager: delta --dark --paging=never --line-numbers --hyperlinks --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"
os:
  edit: '[ -z "$NVIM" ] && (nvim -- {{filename}}) || (nvim --server $NVIM --remote-send ''<cmd>close<cr><cmd>lua EditFromLazygit({{filename}})<CR>'')'
  editAtLine: '[ -z "$NVIM" ] && (nvim +{{line}} -- {{filename}}) || nvim --server $NVIM --remote-send ''<cmd>close<CR><cmd>lua EditLineFromLazygit({{filename}},{{line}})<CR>'''
customCommands:
  - key: "X"
    context: "global"
    description: "AI commit message"
    command: "lgaicm-commit"
    output: terminal
